<% layout('./layouts/boilerplate') %>

<div class="container-md">
    <h1>Compose</h1>
    <!-- <form action="/compose" method="post">
        <div class="col-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="compose">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">Publish</button>
            </div>
    </form> -->

    <form action="/compose" method="post">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
            <label for="title" class="form-label">Title</label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Write Post Here" id="content" name="content"
                style="height: 100px" required></textarea>
            <label for="content">Content</label>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>
</div>

</div>