<% layout('./layouts/boilerplate') %>
<!-- design a journal -->
<div class="container-md">
    <div class="flex justify-center mt-10 border-gray-900">
        <div class="block rounded-lg drop-shadow-xl bg-white w-11/12 text-center">
            <div class="p-6">
                <h1 class="text-gray-900 text-4xl mb-2 text-start mx-60 font-semibold ">About</h1>
                <p class="text-gray-700 text-lg mb-4  text-start mx-64">
                    Synergistically simplify long-term high-impact ROI whereas collaborative benefits. Objectively
                    implement parallel markets for business growth strategies. Intrinsicly monetize best-of-breed
                </p>
            </div>
        </div>
    </div>
</div>